.gallery-container{
  background-color: rgba(247, 251, 255, 0.3);
  border-radius: 25px;
  padding: 1em 1.8em;
  margin: 1.5em 3em 1.5em 3em;
  width: 80vw;
  justify-self: center;
}


.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item{
  height: 22em;
  width: auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 45px;

  padding: 1.5em;
}

.gallery-item img {
  object-fit: cover;
  max-width:fit-content;
}

@media (max-width: 768px){
  .gallery-item{
    width: 100%;
    height: auto;
    padding: 0.7em;
    border-radius: 25px;
  }
}
